#b11{
    gap: 15px;
    text-align: center;
    background-color:whitesmoke;
    color: rgb(60, 23, 243);
    text-rendering: optimizeSpeed;
}
#fa-dog{
    color: brown;
}

#fa-cat{
    color: rgb(54, 53, 53);
}

#h13{
    text-align: center;
    display: block;
    color: rgb(243, 19, 224);
    background-color: rgb(14, 14, 14);
    width:100%;
}

.fa-heart{
    color: red;
}  


.pet{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 20px;
     border-color: 5px solid red;
}
.pet-img{
    border: 4px solid black;
    border-radius: 15px;
}

.card{
    text-align: center;
}

img:hover{
    transform: scale(1.05);
}
#ab{
    text-align: center;
    color:blueviolet;
}
