#b12{
    text-align: center;
    color: blueviolet;
}

body{
    background: linear-gradient(
        to bottom,
        #fff8e7,
        #f3e5ff
)};

video:hover{
    transform: scale(1.05);
}

#video{
    border:5px solid black;
    border-radius:10px;
    width:500px;
}

#video-container{
    display:flex;
    justify-content:center;
    margin-top:20px;
}